{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Add Supply</h2>
    <form method="POST">
        <div class="mb-3">
            <label>Item Name</label>
            <input type="text" class="form-control" name="item_name" required>
        </div>
        <div class="mb-3">
            <label>Quantity</label>
            <input type="number" class="form-control" name="quantity" required>
        </div>
        <div class="mb-3">
            <label>Assign Center</label>
            <select name="center_id" class="form-control">
                <option value="">--Select--</option>
                {% for c in centers %}
                <option value="{{ c.id }}">{{ c.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-success" type="submit">Add</button>
    </form>
</div>
{% endblock %}
